/* 메인 바디 */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f2f2f2;
  margin: 0; /* 바디 마진 제거 */
  padding: 0; /* 바디 패딩 제거 */
}

/* 메인 타이틀 */
h1 {
  color: #333;
  margin-top: 50px;
  font-size: 32px;
  animation: fadeIn 1s ease-in-out;
}

/* 메인 버튼 컨테이너 */
.buttons-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* 메인 버튼 */
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

/* 메인 버튼 마우스오버 */
.btn:hover {
  background-color: #0056b3;
}

/* 사용자 프로필 버튼 */
.profile-btn {
  background-color: #dc3545;
}

.profile-btn:hover {
  background-color: #c82333;
}

/* 메인 드롭박스 컨테이너 */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* 메인 드롭박스 */
.dropdown {
  padding: 8px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-right: 10px;
}

/* 메인 검색 기능 */
.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  padding: 8px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-right: 10px;
}

.search-bar button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out;
}

.search-bar button:hover {
  background-color: #0056b3;
}

/* 게시글 리스트 */
.board-list {
  text-align: left; /* 리스트 텍스트를 왼쪽 정렬 */
  padding: 0; /* 리스트 패딩 제거 */
  margin-top: 20px; /* 리스트 위쪽 마진 추가 */
}

/* 게시글 리스트 아이템 */
.board-list li {
  list-style: none; /* 리스트 아이템의 불릿 제거 */
  background-color: #fff; /* 리스트 아이템 배경색 설정 */
  padding: 10px; /* 리스트 아이템 패딩 설정 */
  margin-bottom: 10px; /* 리스트 아이템 아래쪽 마진 설정 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 리스트 아이템 그림자 추가 */
}

.board-list h2 {
  margin-left: 40px;
}

/* 게시글 제목 */
.board-list li h3 {
  margin: 0; /* 게시글 제목 마진 제거 */
}

/* 게시글 내용, 게시판 유형, 게시글 상태 */
.board-list li p {
  margin: 5px 0; /* 게시글 내용, 게시판 유형, 게시글 상태 위아래 마진 설정 */
}
