/* 프로필 페이지 스타일 */

body {
  font-family: Arial, sans-serif;
}

.content {
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.content [content="meta-data"] {
  margin-bottom: 10px;
}

.content span {
  font-weight: bold;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.btn-edit {
  background-color: #28a745;
}

.btn-edit:hover {
  background-color: #1b832d;
}

.btn-logout {
  background-color: #dc3545;
}

.btn-logout:hover {
  background-color: #a71b26;
}

.btn-cancel {
  background-color: #6c757d;
}

.btn-cancel:hover {
  background-color: #42484f;
}

.btn-form {
  display: inline-block;
  margin-bottom: 10px;
}
